.container{
    width: 800%;
    
    margin-top: 5%;
    right: 50%;
    left: 50%;
    background-color: #e6e1d3
}

.container-upper{
    padding-left: 30%;
    height: 900%;
}

.button1{
    width:25%; 
    height:20%; 
    margin-top:2%; 
    margin-left: 40%
}

.box2{
    margin-left: 7%;
    margin-right: 10%;
}

.list{
    margin-top:2%;
}

